question_processing_logic.txt
/questions_to_cards/.ipynb_checkpoints/bonuses-checkpoint.json
/questions_to_cards/.ipynb_checkpoints/qbreader-api-checkpoint.ipynb
/questions_to_cards/.ipynb_checkpoints/test-checkpoint.json
/questions_to_cards/.ipynb_checkpoints/tossups-checkpoint.json
